<a href="{{ .Get "src" }}" 
   class="glightbox"
   {{ if .Get "gallery"}}
     data-gallery="{{ .Get "gallery" }}"
   {{ end }}
   {{ if or (.Get "title") (.Get "description") }}
     data-glightbox="title:{{ .Get "title" | default "" }};description:{{ .Get "description" | default "" }}"
   {{end}}
>
<img {{ if .Get "gallery"}} 
        src = "https://micro.blog/photos/300x/{{ .Get "src" }}" style="border-radius: 5px; max-width: 100%"
     {{ else }}
        src = "{{ .Get "src" }}" style="max-width: 100%"
     {{ end }}
     {{ if .Get "alt" }}
        alt="{{ .Get "alt" }}" 
     {{ end }}
     {{ if .Get "title" }}
        title={{ .Get "title" }} 
     {{ end }} />
</a>
