<a href="{{ .Get "src" }}" 
   class="glightbox"
   {{ with .Get "gallery" }}
     data-gallery="{{ . }}"
   {{ else }}
     data-gallery="{{ .Page.File.UniqueID }}"
   {{ end }}
   {{ if or (.Get "title") (.Get "description") }}
     data-glightbox="title:{{ .Get "title" | default "" }};description:{{ .Get "description" | default "" }}"
   {{end}}
>
<img src = "{{ .Get "src" }}" style="border-radius: 5px; max-width: 100%"
     {{ if .Get "alt" }}
        alt="{{ .Get "alt" }}" 
     {{ end }}
     {{ if .Get "title" }}
        title={{ .Get "title" }} 
     {{ end }} />
</a>
